.results {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    height: 300px;
    font-size: 20px;
    text-transform: uppercase;
}

.link {
    font-weight: 600;
    font-size: 20px;
}